{% block cartnavitem %}
    {% set navitem_carts = app.session.get('navitem_carts') %}
    {% if navitem_carts is not null %}
        {{ render(controller('\\App\\Controller\\CartController::generateCartList', { 'carts': carts } )) }}
        {{ dump(carts) }}
    {% endif %}
    {# <a class="dropdown-item" href="{{ path('app_cart_show_all') }}">Show All</a> #}
{% endblock %}