{# templates/admin/index.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-12">
            {{ render_chart(chart) }}
        </div>
    </div>
    hi
{% endblock %}